<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Dome2</title>
</head>

<body>
    <div id="my_view">
        search:<input type="text" v-model="search">
        <ul>
            <li v-for="friend in friends | filterBy search in 'name'">{{friend.name}}</li>
        </ul>
    </div>
    <script src="vue.min.js"></script>
    <script src="app2.js"></script>
</body>

</html>